VITE_ENTRA_TENANT_ID=SET_TENANT_ID
VITE_ENTRA_FRONTEND_CLIENT_ID=SET_FRONTEND_CLIENT_ID
VITE_ENTRA_API_CLIENT_ID=SET_API_CLIENT_ID
VITE_API_SCOPE=api://SET_API_CLIENT_ID/access_as_user
VITE_API_BASE=https://zguv762794.execute-api.us-east-1.amazonaws.com
VITE_REDIRECT_URI=http://localhost:4200/
